<!DOCTYPE html>
<html lang="es">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css" />

    <script src="https://kit.fontawesome.com/1e26533911.js" crossorigin="anonymous"></script>

  </head>

  <body class="register">

    <header class="body_header">

      <div class="body_header_one">
        <div class="header_div_logo">
          <img src="/images/logo-mercado-liebre.svg" alt="" />
        </div>
        <div class="header_div_formulario">
          <form action="">
            <input type="text" placeholder="Buscar productos,Marcas" />
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
      </div>
      <div class="header_texto">
        <p>
          <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y con tarjeta de crédito
        </p>
      </div>
      <nav class="header_barraDeNavegacion">
        <ul type="none" class="nav__navegacion">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul type="none" class="nav__navegacion">
          <li>
            <a href="/register">Creá tu cuenta</a>
            <i class="fa-solid fa-address-card"></i>
          </li>
          <li>
            <a href="/login">Ingresá</a>
            <i class="fa-solid fa-right-to-bracket"></i>
          </li>
          <li>
            <a href="">Mis compras</a>
            <i class="fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
      </nav>
      <div class="header_div_burger_menu">
        <button>
          <i class="fas fa-bars"></i>
        </button>
      </div>

    </header>

    <main class="login">
        <form action="/" method="POST" class="form">
            <div class="form__div">
                <h4>Nombre de usuario</h4>
                <input type="text" name="user" placeholder="Nombre de usuario">
            </div>
            <div class="form__div">
                <h4>Contraseña</h4>
                <input type="password" name="pass" placeholder="Contraseña">
            </div>
            <div class="form_div_button--login">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </main>

  </body>
  
</html>
