:root{
    --color_Azul: #03264C;
    --color_Amarillo: #EAC926;
    --color_Celeste: #1259c3;
    --color_Gris_oscuro: #666;
    --color_Gris_claro: #ebebeb;
    --color_Verde: #39b54a;
    --color_Rojo: #DF5837;
    --tipografia: "Roboto"; 
     --colorVerde: #39b54a;
    --tamanioTexto: 12px;
    --tamanioTitulares: 24px;
        
    }
    
    li{
        list-style: none;
        font-size: var();
    }
    a{
        text-decoration: none;
        color: var(--GrisOscuro);
    }
    