.body_header{
    background-color: var(--color_Amarillo);
    font-family: 'Roboto';
}

.header_div_logo{
    width: 40%;
    padding: 15px;
}

.header_div_formulario{
    padding: 15px;
}

.header_div_burger_menu{
    background-color: var(--color_Celeste);
    color: white;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    margin-bottom: 20px;
    border:none;
    border: solid 1px black;
    border-radius: 5px;
}

section.main_section_ultimavisita h3{
    text-align: center;
    font-family: 'Roboto';
}

section.main_section_oferta h3{
    text-align: center;
    font-family: 'Roboto';
}

.footer{ 
    background-color: var(--color_Gris_claro);
    text-align: center;
    font-family: 'Roboto';
    margin: 10px;
}

div.pago{
    width: 30px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
}

div.envio{
    width: 30px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
}

div.seguridad{
    width: 30px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
}